// Variables


// Colors
//spectrum
$red:	#DC143C;
$orange:#D2691E;
$yellow: #F7CA18;
$green:#3CB371;
$blue:#6BB9F0;


//grayscale
$black:#000000;
$gray: #eaeaea;
$light-grey:#D3D3D3;
$dark-grey:#696969;
$white:#ffffff;


//widths

//variables for container and other width
$container: 600px;

// Spacer
//
// Use these to create a consistent set of numbers for your
// margins and paddings

// Base
$spacer: 8px;
$spacer-y: 8px;
$spacer-x: 8px;

// Larg
$spacer-15x: 12px;
$spacer-15x-y: 12px;
$spacer-15x-x: 12px;

// Larger
$spacer-2x: 16px;
$spacer-2x-y: 16px;
$spacer-2x-x: 16px;

// Largest
$spacer-3x: 32px;
$spacer-3x-y: 32px;
$spacer-3x-x: 32px;